.card {
  border: none;
  background-color: var(--background-color);
  display: inline-block;
}

.card:hover {
  background-color: var(--higlight-color);
}

.avatar {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
